* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table {
  display: flex;
  flex-direction: column;

}

.thead {
  padding: 5px 0;
}

.tbody {
  width: 380px;

}

.tr {
  display: flex;
  margin: 10px 0;
 /* gap: 20px;*/
/*  justify-content: space-between;*/
 /* transition: all 0.1s ease-in-out;*/
}

.td {
  width: 33%;
  text-align: right;
}

.td:nth-child(1) {
  text-align: start;
  padding-left: 7px;
}

.td:nth-child(3) {
  padding-right: 7px;
}

.half{
  cursor: pointer;
  position: relative;
/*  border: 1px solid #ccc;*/
}
/*
.half:after{
  content: '';
  position: absolute; top: 0; right: 0;
  width: 50%;
  height: 100%;
  background: #69F0AE;
  z-index: -1;
}*/

.bgc {
  position: absolute; top: 0; right: 0;
/*  width: 50%;*/
  height: 100%;

  z-index: -1;
  transition: width 0.3s ease-in-out;
}

.bgcG {
  background-color: rgb(45, 60, 46)
}

.bgcR {
  background-color: rgb(59, 38, 38);;
}

.priceSelling {
  color: rgb(255, 150, 142);
}

.priceBuying {
  color: rgb(150, 213, 142);
}

.lastTrade {
  margin: 20px 0;
  text-align: left;
  font-size: 24px;
  padding-left: 7px;
}


@keyframes appearing {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sideBarDataLeft {
  position: absolute;
  top: 0;
  left: -120px;
  width: 100px;
  height: auto;
  background-color: #888888;
  border-radius: 5px;
  color: white;
  z-index: -1;
  opacity: 0;
  animation: appearing 5s ease-in-out forwards;
}

.sideBarDataRight {
  position: absolute;
  top: 0;
  right: -120px;
  width: 100px;
  height: auto;
  background-color: #888888;
  border-radius: 5px;
  color: white;
  z-index: -1;
  animation: appearing 5s ease-in-out forwards;
}